$primary: #6D8D4C;
$info: #4074c1;
$danger: #972121;

$primary-text: rgba(black, 0.86);
$secondary-text: rgba(black, 0.76);
$third-text: rgba(black, 0.5);

$divider: rgba(black, 0.12);

$agri-green: #476458;
$agri-green-light: #79BC53;
$agri-green-booking: #44933B;
$agri-yellow: #F0CE4A;
$agri-grey: #F0F0F0;
$agri-white: #FFFFFF;
$agri-beige: #FFF9E8;

$tiny-beige: #FFF9E6;
$tiny-text: #D2CCB8;
$tiny-back-brown: #DFDBCD;



// Background Color grey opactity 8%
$agri-grey-back: rgba(71, 100, 88, 0.08);

// Background Color grey opactity 8%
$agri-yellow-back: rgba(240, 206, 74, 0.08);

// Opacity color green for search bar
$agri-green-opacity: rgba(71, 100, 88, .65);
