$breakpoint-desktop: 1920px;
$breakpoint-laptop-l: 1440px;
$breakpoint-laptop-generic: 1200px;
$breakpoint-laptop-m: 1024px;
$breakpoint-tablet-l: 992px;
$breakpoint-tablet-m: 882px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
$breakpoint-mobile-large: 425px;
$breakpoint-mobile-l: 414px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;
