.title{
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $primary-text;
}

.headline{
  font-size: 26px;
  font-weight: 400;
  margin: 8px 0;
  color: $secondary-text;
}

.subtitle{
  font-size: 22px;
  font-weight: 400;
  margin: 8px 0;
  color: $secondary-text;
}

.body-1{
  font-size: 18px;
  color: $secondary-text;
  line-height: 1.5;
}
